---
import Default from '@astrojs/starlight/components/Footer.astro';
---

<Default {...Astro.props}><slot /></Default>

<div class="hearth-footer">
  Built by <a href="https://github.com/EricFinland">Eric Catalano</a>
  &middot; <a href="https://github.com/EricFinland/hearth">hearth on GitHub</a>
  &middot; MIT licensed
</div>
